.about__container {
  display: grid;
  grid-template-columns: 35% 53%;
  gap: 12%;
}

.about__portrait {
  height: fit-content;
  max-height: 40rem;
  border: 1rem solid var(--color-white);
  background-size: 100% 100%;
  transition: var(--transition);
}

.about__portrait:hover {
  border-width: 0;
}

.about__right p {
  margin-top: 2rem;
  font-size: larger;
  font-weight: 500;
}

.about__right .btn {
  margin: auto;
  margin-top: 2.5rem;
}

/* MEDIA QUERIED TABLETS  */

@media screen and (max-width: 1024px) {
  .about__left {
    display: none;
  }

  .about__container {
    grid-template-columns: 1fr;
  }

  .about__right h2 {
    text-align: center;
  }
}

/* MEDIA QUERIES FOR PHONES  */
@media screen and (max-width: 600px) {
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__right .btn {
    margin-top: 2rem;
  }
}

/* text animation  */
/* about.css */
/* about.css */
#about .animated-paragraph {
  letter-spacing: 1px !important;
  padding: 4px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 30%) 30%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s infinite linear;
}

#about .animated-paragraph {
  position: relative;
  overflow: hidden;
}

#about .paragraph-1 {
  animation-delay: 0s;
}

#about .paragraph-2 {
  animation-delay: 2s;
}

#about .paragraph-3 {
  animation-delay: 4s;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

/* removed the animation white screen bug  */
/* [data-aos^="fade"][data-aos^="fade"] {
  opacity: 1 !important;
} */
